{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>WeatherApp</title>
</head>

<body>
    <section class="" style="background-color: #4114">
        <div class="container py-5 h-100">
            <h1 class='text-Black'>Weather App</h1>
            {% if messages %}
                
            {% for message in  messages%}
                    <div class="message text-white">{{ message }}</div>
            
            {% endfor %}
                
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" name='city' aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-primary" name='add_city'>SEARCH</button>
                </div>
              
            </form>
            <br>
            <hr>
          <div class="row d-flex justify-content-center align-items-center h-100">
              
              {% for i in city_data  %}
              <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card m-3" style=" border-radius: 35px;">
                    <div class="card-body p-4">
            
                      <div class="d-flex bg-info p-2">
                        <h4 class="flex-grow-1" style="color: #dc3545">{{i.city}}</h4>        
                        <h6 class="time text-Black">D/m/year --hour:minute</h6>                        
                     </div>
            
                      <div class="d-flex flex-column text-center mt-4 mb-3 p-0  ">
                        <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{i.temp}} °C </h6>
                        <span class="small" style="color: #dc3545;">{{i.desc}}</span>
                      </div>
            
                      <div class="d-flex align-items-center " >
                        <div class="flex-grow-1" style="font-size: 1rem; font-weight: bold">
                          <div> <span class="ms-1"> <i class="fa-solid fa-wind-turbine"></i> {{i.speed}} m/sn
                            </span></div>
                          <div> <span class="ms-1"><i class="fa-regular fa-droplet-percent"></i> Humidity: % {{i.humid}} </span>
                          </div>
                          <div> <span class="ms-1"> <i class="fa-duotone fa-location-crosshairs"></i> {{i.coord_long}}--{{i.coord_lati}} </span>
                          </div>
                        </div>
                        <div style="background-color:crimson; border-radius: 25px;">
                          <img src="http://openweathermap.org/img/wn/{{i.icon}}@2x.png"
                            width="100px">
                        </div>
                      </div>
            
                    </div>
                  </div>
                
             
                
                </div>
                {% endfor %}
      
          </div>
      
        </div>
      </section>

      <script src="{% static 'weatherapp/js/timeout.js' %}"></script> 
      {% comment %} <script src="{% static 'weatherapp/js/datetime.js' %}"></script>  {% endcomment %}
         
</body>
</html>


<i class="fa-regular fa-droplet-percent"></i>