{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>WeatherApp</title>
</head>

<body>
    <section class="" style="background-color: #4114">
      <div class="container py-5 h-100">
          <div class="d-flex align-items-center " >             
              <h1 class="flex-grow-1" style="font-size: 1.3rem; font-weight: bold ; text-Black">Weather App</h1>            
              <div id="clock" class="d-flex justify-content-center " style="font-size: 1rem; font-weight: bold">
                  <p class="unit" id="hours"></p>
                  <p  class="comma">:</p>
                  <p class="unit" id="minutes"></p>
                  <p  class="comma">:</p>
                  <p class="unit" id="seconds"></p>
                  <p class="unit" id="ampm"></p>
              </div>
               
          </div>  
          {% if messages %}
                
          {% for message in  messages%}
                <div class="message text-black">{{ message }}</div>
            
          {% endfor %}
                
          {% endif %}
          <form action="" method="post">
            {% comment %} ###FIRST STYLE #### {% endcomment %}
            {% comment %} <input class="form-control mt-3" type="text" name="name" placeholder="City name">
            {% csrf_token %}
            <input class="btn btn-success mb-3" type="submit" value="ADD"> {% endcomment %}



            {% comment %} ###SECOND STYLE #### {% endcomment %}
            {% csrf_token %}
            <div class="input-group">
              <input type="search" class="form-control rounded" placeholder="Enter a city name..." name='name' aria-label="Search" />
              
              <button type="submit" class="btn btn-primary" >SEARCH</button>
            </div> 
              
          </form>
          <br>
          <hr>
          <div class="row d-flex justify-content-center align-items-center h-100">
              
              {% for i in city_data reversed %}
              <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card m-3" style=" border-radius: 35px;">
                    <div class="card-body p-4">
            
                      <div class="d-flex bg-info p-2">
                        <h4 class="flex-grow-1" style="color: #dc3545">{{i.city}}</h4>
                       
                        
                        <a href="{% url 'delete' city.id %}" class="btn btn-danger">&#10006;DELETE</a>
                     </div>





            
                      <div class="d-flex flex-column text-center mt-4 mb-3 p-0  ">
                        <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331"> {{i.temp}} °C </h6>
                        <span class="small" style="color: #dc3545;  font-size: 1rem; font-weight: bold">{{i.desc}}</span>
                      </div>
            
                      <div class="d-flex align-items-center " >
                        <div class="flex-grow-1" style="font-size: 1rem; font-weight: bold">
                          <span class="ms-1"> &#127937  {{i.speed}} m/sn
                          </span>
                          <div> <span class="ms-1"> &#128560 % {{i.humid}} </span>
                          </div>
                          <div> <span class="ms-1"> &#127758 {{i.coord_long}}--{{i.coord_lati}} </span>
                          </div>
                        </div>
                        <div style="background-color: #4114; border-radius: 25px;">
                          <img src="http://openweathermap.org/img/wn/{{i.icon}}@2x.png"
                            width="100px">
                        </div>
                      </div>
            
                    </div>
                  </div>
                
             
                
                </div>
                {% endfor %}
      
          </div>
      
      </div>
    </section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>

<script src="{% static 'weatherapp/js/timeout.js' %}"></script> 
<script src="{% static 'weatherapp/js/datetime.js' %}"></script>  
         
</body>
</html>


